.projects-new
    padding: 80px 0 50px 0
    width: calc( 100% - 300px)
    margin: auto
    @media screen and ( max-width: 765px )
        width: 85%
.project-content
    margin-top: -1px
    
.project-head
    #particles-js
        position: relative
        max-height: 300px
        padding-top: 80px
.projects-items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media screen and ( max-width: 970px )
        flex-direction: column
        .project-item
            width: auto
.project-part
    width: 100%
    top: 20%
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    p
        width: 300px
        color: #fff
    h1
        font-size: 3rem
        color: #fff
    span
        margin: 0 20px
        display: block
        height: 200px
        width: 3px
        background: #fff
.project-item
    margin-top: 20px
    width: calc( 50% -  15px)
    height: 60vh
    max-height: 470px
    position: relative
    overflow: hidden
    img
        object-fit: cover
        width: 100%
        height: 100%

.project-item-link
    &:hover
        .item-content
            height: 100%
            .item-info
                padding-top: 0

.item-line
    margin: 9px 0
    height: 3px
    width: 50px
    display: block
    background: #fff
.item-content
    transition: .3s
    position: absolute
    bottom: 0
    width: 100%
    padding: 0px 20px 0px 20px
    height: 120px
    background: #141414d0
    .item-text
        text-transform: uppercase
        transition: .3s
        margin-top: 10px
        font-size: 2rem
        font-weight: 600
        color: #fff
    .item-info
        padding-right: 30px
        word-wrap: break-word
        font-size: 1rem
        color: #fff
        padding-top: 10%
    .item-go
        font-size: 1.5rem
        margin-top: 10%
        margin-left: 60%
        color: #fff
